form {
  background-color: #fff3e0;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

form label,
legend {
  font-family: "Playwrite GB S", sans-serif;
  font-weight: 500;
  color: #6c757d;
}

form input,
form select {
  border: 1px solid #f2d4be;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 1rem;
  font-family: "Arima", sans-serif;
}

.addBtn {
  background-color: #f7c2b3;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-family: "Arima", sans-serif;
  transition: background-color 0.3s ease;
}

.addbtn:hover {
  background-color: #f4a99a;
}

h2 {
  text-align: center;
  color: #6c757d;
  font-family: "Playwrite GB S", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
